input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.resources_item {
  @apply flex w-28  rounded-xl bg-slate-800 p-3  text-center text-sm text-white;
}

.resource_bar {
  @apply mb-8 grid grid-cols-2 justify-center gap-1 space-y-0.5 sm:grid-cols-4 sm:space-y-0 lg:flex lg:space-x-1;
}

html {
  background: url("https://play.dem.gg/Ozadje_DEM_game.a181ac50237598e48ecc.png")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.primary_button {
  @apply mt-5 w-full rounded-lg bg-primary py-2 font-bold text-slate-800 hover:bg-primary hover:text-slate-600 disabled:bg-gray-500 disabled:hover:text-slate-800;
}

.navbar_button {
  @apply btn items-center justify-center rounded-lg border-2 border-primary bg-slate-800 font-semibold  hover:border-primary/80 hover:bg-slate-900;
}

.secondary_button {
  @apply btn bg-primary text-white hover:bg-primary/70 hover:text-slate-200;
}

.login_button {
  @apply mt-2 flex h-[58px] w-[320px]  cursor-pointer items-center justify-center border-2 border-primary p-1 text-lg font-semibold text-white hover:bg-primary/80 disabled:cursor-not-allowed disabled:border-slate-500 disabled:bg-primary/50;
}
